.body {
  margin: 0;
}

.wrapper {
  background-color: #EDD5A6;
  width: 100%;
  height: 100%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

/*Nav Bar*/

.navBar {
  background-color: #A6BEED;
  border: 2px solid black;
  padding: 30px 10px;
}

.table {
display: table;
margin: 0 auto;
}

.listStyle {
  display: inline;
  list-style: none;
  font-size: 30px;
  word-spacing: 5.5em;
}

.linkFont {
  color: black;
  text-decoration: none;
}

/*Link Styles*/

a:hover {
  color: darkgoldenrod;
}

a:visited {
  color: forestgreen;
}

/*Main Content*/

.mainBody {
  padding: 15px;
}

.topHead {
  text-align: center;
}

.card {
  width: 30%;
  height: auto;
  border: 2px solid black;
  display: inline-block;
  margin: 15px;
  vertical-align: top;
  text-align: center;
}

.nope {
  text-align: left;
}

.just {
  text-align: justify;
}

.browseIMG {
  width: 275px;
}
/*Footer*/

footer {
  font-size: 1em;
  text-align: right;
  clear: both;
  padding-top: 50px;
  padding-right: 5px;
  color: black;
}